.athlete-banner {
  height: 586px;
  overflow: hidden;
  position: relative;
  width: 100%;

  .banner-image-container {
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      object-position: 65% center;
      width: 100%;
    }
  }

  @include responsive(tablet) {
    height: 450px;

    .banner-image-container img {
      object-position: 60% center;
    }
  }

  @include responsive(mobile) {
    height: 350px;

    .banner-image-container img {
      object-position: 25% center;
    }
  }
}