.athlete-banner {
  position: relative;
  width: 100%;
  height: 586px;
  overflow: hidden;

  .banner-image-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 65% center;
    }
  }

  @include responsive(tablet) {
    height: 450px;

    .banner-image-container img {
      object-position: 60% center;
    }
  }

  @include responsive(mobile) {
    height: 350px;

    .banner-image-container img {
      object-position: 25% center;
    }
  }
}