.site-footer {
  background-color: var(--theme-color-tertiary);
  display: flex;
  flex-direction: row;

  .left-column {
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 0 0 0 74px;
    padding: 64px 0 0 0;
  }

  .footer-nav, .social-nav {

    .footer-menu, .social-menu {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 50px;

        a {
          color: var(--theme-color-variant-5);
          font-size: 13px;
          font-stretch: normal;
          font-style: normal;
          font-weight: lighter;
          letter-spacing: 1.14px;
          line-height: normal;
          text-decoration: none;

          &.active { font-weight: bold; }
        }
      }
    }
  }

  .social-nav {
    margin-top: 13px;
    margin-bottom: 58px;

    .social-menu {

      li {
        margin-right: 12px;
      }
    }
  }

  .right-column {
    flex: 1;
    text-align: right;

    a {
      position: relative;
      right: 63px;
      top: 77px;
    }
  }

  @include responsive(mobile) {
    flex-direction: column;

    .left-column {
      flex: 1;
      padding-bottom: 0;

      .footer-nav {

        .footer-menu {

          li {
            display: block;
            margin: 0 0 12px 0;
          }
        }
      }

      .social-nav {
        margin-bottom: 13px;
      }
    }

    .right-column {
      margin: 12px 0 64px 0;
      text-align: left;

      a {
        left: 74px;
        top: 0;
      }
    }
  }
}