@mixin styled-ul-md($width: 576px, $theme-color: var(--theme-color-primary)) {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
  letter-spacing: 1.5px;
  line-height: normal;
  list-style: none;
  margin: 0;
  padding: 0;
  width: $width;

  li {
    display: inline-block;

    a {
      color: $theme-color;
      display: inline-block;
      font-weight: lighter;
      letter-spacing: 1.4px;
      position: relative;
      text-decoration: none;
      transition: color 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background: var(--theme-color-tertiary);
        transition: width 0.3s ease;
      }

      &:hover {
        color: var(--theme-color-tertiary);
        
        &::after {
          width: 17px;
        }

        &.active-menu { 
          color: var(--theme-color-primary);
          &::after {
            background: var(--theme-color-primary);
          }
        }
      }

      &.active-menu::after {
        width: 17px;
        background: var(--theme-color-primary);
      }
    }
  }
}

@mixin tennis-img() {
  height: 37px;
  width: 37px;
}

header#header-md {
  background: transparent;
  display: flex;
  flex-direction: row;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;

  img {
    @include tennis-img();
    margin: 25px 32px 0 36px;
  }

  .right-border {
    background: var(--theme-color-primary);
    display: inline-block;
    height: 100vh;
    left: calc(37px + 32px + 34px);
    position: fixed;
    top: 0px;
    width: 2px;
    z-index: 9;
  }

  .nav-menu {
    color: var(--theme-color-primary);
    flex-grow: 2;
    margin: 44px 0 0 67px;

    ul {
      @include styled-ul-md();
    }
  }

  .locales-menu {
    margin: 45px 94px 0 0;

    ul {
      @include styled-ul-md(67px);
    }
  }

  @include responsive(tablet) {
    img {
      margin: 25px 20px 0 20px;
    }

    .right-border {
      left: calc(37px + 20px + 24px);
    }

    .nav-menu {
      margin-left: 25px;

      ul { width: 500px; }
    }

    .locales-menu { margin-right: 60px; }
  }

  &#header-md {
    @include responsive(mobile) { display: none; }
  }
}

@mixin active-menu-sm() {
  color: var(--theme-color-tertiary);
}

@mixin styled-ul-sm() {
  list-style: none;
  margin: 0;

  li {
    padding: 10px 0;

    a {
      color: var(--theme-color-secondary);
      display: inline-block;
      font-weight: bold;
      padding-bottom: 5px;
      position: relative;
      text-decoration: none;
      transition: all 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: var(--theme-color-tertiary);
        transition: width 0.3s ease;
      }

      &:hover:not(.active-menu) {
        color: var(--theme-color-tertiary);
        transform: translateX(10px);

        &::after {
          width: 100%;
        }
      }

      &.active-menu { 
        @include active-menu-sm();
        transform: translateX(10px);
        
        &::after {
          width: 100%;
          background: var(--theme-color-tertiary);
        }
      }
    }
  }
}

header#header-sm {
  position: fixed;
  width: 100%;
  z-index: 10;

  .hamburger-wrapper {
    background-color: var(--theme-color-primary);
    border-bottom: 4px solid var(--theme-color-tertiary);
    display: block;
    padding: 10px 36px;
    width: calc(100vh - ((36px * 2) + 4px));

    svg.hamburget-menu {
      @include tennis-img();
      cursor: pointer;
      font-weight: bold;
      stroke: var(--theme-color-secondary);
    }
  }

  .modal {
    background-color: var(--theme-color-primary);
    border-radius: 5px;
    display: none;
    margin: 10px;
    padding: 50px 0;
    max-width: 50vh;
    transform: translateY(-10px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.menu-open {
      display: block;
      animation: modalShow 0.3s ease forwards;
    }

    &:not(.menu-open) {
      animation: modalHide 0.3s ease forwards;
    }

    .nav-menu, .locales-menu {
      ul { @include styled-ul-sm(); }
    }
  }

  @include responsive(tablet) {
    &#header-sm { display: none; }
  }
  @include responsive(desktop) {
    &#header-sm { display: none; }
  }
}

@keyframes modalShow {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modalHide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
    display: none;
  }
}