@mixin styled-ul-md($width: 576px, $theme-color: var(--theme-color-primary)) {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
  letter-spacing: 1.5px;
  line-height: normal;
  list-style: none;
  margin: 0;
  padding: 0;
  width: $width;

  li {
    display: inline-block;

    a {
      color: $theme-color;
      display: inline-block;
      font-weight: lighter;
      letter-spacing: 1.4px;
      position: relative;
      text-decoration: none;

      &.active-menu::after {
        border-bottom: 2px solid var(--theme-color-primary);
        content: " ";
        height: 2px;
        left: 0;
        position: absolute;
        top: 30px;
        width: 17px;
      }
    }
  }
}

@mixin tennis-img() {
  height: 37px;
  width: 37px;
}

header#header-md {
  background: transparent;
  display: flex;
  flex-direction: row;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;

  img {
    @include tennis-img();
    margin: 25px 32px 0 36px;
  }

  .right-border {
    background: var(--theme-color-primary);
    display: inline-block;
    height: 100vh;
    left: calc(37px + 32px + 34px);
    position: fixed;
    top: 0px;
    width: 2px;
    z-index: 9;
  }

  .nav-menu {
    color: var(--theme-color-primary);
    flex-grow: 2;
    margin: 44px 0 0 67px;

    ul {
      @include styled-ul-md();
    }
  }

  .locales-menu {
    margin: 45px 94px 0 0;

    ul {
      @include styled-ul-md(67px);
    }
  }

  @include responsive(tablet) {
    img {
      margin: 25px 20px 0 20px;
    }

    .right-border {
      left: calc(37px + 20px + 24px);
    }

    .nav-menu {
      margin-left: 25px;

      ul { width: 500px; }
    }

    .locales-menu { margin-right: 60px; }
  }

  &#header-md {
    @include responsive(mobile) { display: none; }
  }
}

@mixin styled-ul-sm() {
  list-style: none;
  margin: 0;

  li {
    padding: 5px 0;

    a {
      color: var(--theme-color-tertiary);
      font-weight: bold;
      text-decoration: none;

      &.active-menu {
        border-bottom: 1px solid var(--theme-color-tertiary);
        border-width: 2px;
      }
    }
  }
}

header#header-sm {
  position: relative;
  z-index: 10;

  img {
    @include tennis-img();
    margin: 25px auto auto 25px;
    cursor: pointer;
  }

  .modal {
    background-color: var(--theme-color-secondary);
    border-radius: 5px;
    display: none;
    height: calc(85vh - 45px);
    margin: 10px;
    padding: 28px 0;

    &.menu-open {
      display: block;
    }

    .nav-menu, .locales-menu {

      ul { @include styled-ul-sm(); }
    }
  }

  @include responsive(tablet) {
    &#header-sm { display: none; }
  }
  @include responsive(desktop) {
    &#header-sm { display: none; }
  }
}