.hero {
  background-image: url('./tennis-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 785px;
  background-attachment: fixed;

  &::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
  }

  .vertical-divider {
    background: var(--theme-color-primary);
    display: inline-block;
    height: 100vh;
    left: calc(37px + 32px + 34px);
    position: absolute;
    top: 0px;
    width: 2px;
    z-index: 9;
    min-height: 785px;
  }

  .grid-layout {
    display: grid;
    grid-template-columns: 173px auto;
    grid-template-rows: 225px minmax(auto, max-content) auto;
    height: 100%;
    position: relative;

    .title {
      color: var(--theme-color-primary);
      font-size: 53px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      grid-column: 2;
      grid-row: 2;
      letter-spacing: -0.05px;
      line-height: 1.28;
      margin: 0;
      padding: 0;
      width: 709px;

      strong {
        color: var(--theme-color-tertiary);
        font-weight: 800;
      }
    }

    .aboutus-btn {
      grid-column: 2;
      grid-row: 3;
      margin: 0;
      padding: 0;

      a { @include button-component(); }
    }
  }

  @include responsive(tablet) {
    .vertical-divider {
      left: calc(37px + 20px + 24px);
    }

    .grid-layout {
      grid-template-columns: calc(576px - 450px) auto;

      .title {
        width: 80%;
      }
    }
  }

  @include responsive(mobile) {
    $top: 65px;
    height: calc(100vh + $top);
    top: $top;
    min-height: initial;

    .vertical-divider { display: none; }

    .grid-layout {
      grid-template-columns: 36px auto 5px;

      .title {
        width: 100%;
      }
    }
  }
}