$custom-grid: 1291px;

.products-section {
  background-color: var(--color-white);
  
  .container {
    margin: 0;
    padding: 0;

    .products-header {
      background-color: var(--theme-color-variant-1);
      display: flex;
      flex-direction: row;
      padding-bottom: 67px;

      .column-empty {
        flex-basis: 256px;
      }

      .tag {
        color: var(--theme-color-tertiary);
        flex-basis: 174px;
        font-size: 15px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 1.87px;
        margin-top: 104px;
        margin-right: 56px;
        text-align: right;
        text-transform: uppercase;
        height: 33px;
      }

      .content {
        flex: 1;

        .title {
          color: var(--theme-color-variant-2);
          font-size: 50px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          height: 151px;
          letter-spacing: -0.06px;
          line-height: 1.14;
          margin-top: 76px;
          margin: 76px 0 0 0;
          width: 555px;
        }

        .description {
          display: flex;
          padding-top: 15px;

          p {
            color: var(--theme-color-variant-3);
            font-size: 18px;
            font-stretch: normal;
            font-style: normal;
            font-weight: normal;
            height: 87px;
            letter-spacing: 0.51px;
            line-height: 1.78;
            margin: 0;
            width: 393px;
          }

          div {
            flex: 1;

            .btn-outline {
              @include button-component(var(--theme-color-variant-3));
              top: 16px;
              width: 125px;
              height: 23px;
              margin: 0 10px 0 162px;
              font-size: 13px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 2.15;
              letter-spacing: 1.01px;
              color: var(--theme-color-variant-4);

              .svg-left-arrow {
                top: 16px;
              }
            }
          }
        }
      }

      @include responsive(tablet) {
        .column-empty { flex-basis: 10%; }
        .content {
          .description {
            flex-direction: column;

            div {
              flex: 1;
              margin-top: 16px;

              .btn-outline {
                margin: 0;
                top: 0;
              }
            }
          }
        }
      }
      
      @include responsive(mobile) {
        flex-direction: column;
        text-align: center;
        
        .column-empty { display: none; }
        .tag {
          flex: 1;
          width: 100%;
          text-align: center;
          margin-right: 0;
        }

        .content {
          .title {
            height: auto;
            margin: 17px auto;
            white-space: normal;
            width: 100%;
            word-break: break-word;
          }

          .description {
            flex-direction: column;

            p {
              width: 80%;
              margin: auto;
            }

            div {
              flex: 1;
              margin-top: 32px;

              .btn-outline {
                margin: 0;
                top: 0;
              }
            }
          }
        }
      }

    }

    .products-showcase {
      display: flex;
      flex-direction: row;

      .product-card {
        flex-basis: 530px;
        height: 468px;
        max-width: 530px;
        overflow: hidden;
        position: relative;

        .product-image {
          height: 100%;
          margin-left: 3px;
          overflow: hidden;
          position: relative;
          width: 100%;

          img {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }

        .product-content {
          color: var(--theme-color-primary);
          height: calc(100% - 38px);
          left: 39%;
          position: absolute;
          right: 71px;
          top: 38px;
          width: calc(100% - 39%);
          z-index: 1;

          h3 {
            font-size: 50px;
            font-stretch: normal;
            font-style: normal;
            font-weight: normal;
            height: 151px;
            letter-spacing: -0.06px;
            line-height: 1.28;
            margin: 0;
            width: 259px;
          }

          p {
            font-size: 18px;
            font-stretch: normal;
            font-style: normal;
            font-weight: normal;
            height: 107px;
            letter-spacing: 0.51px;
            line-height: 1.67;
            margin: 0;
            width: 303px;
          }

          .indicators {
            height: auto;

            .indicator {
              background-color: var(--theme-color-primary);
              border-radius: 50%;
              border: 0px;
              height: 7.8px;
              padding: 0;
              width: 8px;
              margin-right: 19px;
              cursor: pointer;
              
              &.active, &:hover {
                background-color: var(--theme-color-tertiary);
              }
            }
          }

          .controls {
            left: -22.5px;
            position: relative;
            top: 35px;

            .control {
              background: transparent;
              border-radius: 50%;
              border: 2px solid var(--theme-color-primary);
              cursor: pointer;
              height: 54px;
              margin-right: 19px;
              padding: 0;
              position: relative; 
              transition: all 0.3s ease;
              width: 54px;

              &.next {
                background-color: var(--theme-color-tertiary);
                border-color: var(--theme-color-tertiary);
              }

              .prev-arrow,
              .next-arrow {
                border-style: solid;
                height: 0;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 0;
              }

              .prev-arrow {
                border-color: transparent var(--theme-color-primary) transparent transparent;
                border-width: 8px 12px 8px 0;
                margin-left: -2px;
              }

              .next-arrow {
                border-color: transparent transparent transparent var(--theme-color-primary);
                border-width: 8px 0 8px 12px;
                margin-left: 2px;
              }

              &.next .next-arrow {
                border-color: transparent transparent transparent var(--theme-color-primary);
              }

              &:hover {
                background-color: var(--theme-color-tertiary);
                border-color: var(--theme-color-tertiary);

                .prev-arrow {
                  border-color: transparent var(--theme-color-primary) transparent transparent;
                }

                .next-arrow {
                  border-color: transparent transparent transparent var(--theme-color-primary);
                }
              }

            }
          }
        }
      }

      .product-grid {
        display: flex;
        flex-direction: row;
        gap: 31px;
        margin-left: 52px;
        overflow-x: scroll;
        position: relative;
        padding-top: 60px;

        .product-card {
          height: 344px;
          min-width: 288px;
          position: relative;
          width: 288px;

          .number {
            background-color: var(--theme-color-tertiary);
            border-radius: 50%;
            height: 39px;
            left: 17px;
            position: absolute;
            text-align: center;
            top: 11px;
            width: 39px;

            span {
              color: var(--theme-color-primary);
              font-family: HelveticaNeue;
              font-stretch: normal;
              font-style: normal;
              font-weight: normal;
              letter-spacing: 2.11px;
              line-height: 1.76;
              position: relative;
              text-align: center;
              top: 3px;
            }
          }

          img { width: 100%; }
        }
      }

      @include responsive(custom, null, $custom-grid) {
        .product-card {
          flex: 100%;

          .product-content {
            left: 0;
            width: 100%;
            text-align: center;

            h3 { width: 100%; }
            p {
              width: 80%;
              margin: auto;
            }
            .controls { left: 0; }
          }
        }
      }
      @include responsive(tablet) {}
      @include responsive(mobile) {
        flex-direction: column;

        .product-card {
          width: 100%;
          max-width: none;

          .product-content {
            height: auto;
          }
        }

        .product-grid {
          flex-direction: row;
          margin: auto 10px;
        }
      }
    }
  }
  
}
