<section class="athlete-banner" aria-label="Tennis player in action">
  <div class="banner-image-container">
    <img 
      src="{{ 'banner-athlete.jpg' | asset_url }}" 
      alt="Professional tennis player practicing on an outdoor court during sunset"
    >
  </div>
</section>