<header class="tennis-bg">
  <div class="left-col">
    <img src="{{ 'tennis-ball.png' | asset_url }}" alt="Tennis ball">
  </div>
  <nav class="nav-menu">
    <ul>
      <li><a class="active-menu" href="#">Inicio</a></li>
      <li><a href="#">Acerca de nosotros</a></li>
      <li><a href="#">Historia</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
  <nav class="locales-menu">
    <ul>
      <li><a href="#">ES</a></li>
      <li><a href="#">EN</a></li>
    </ul>
  </nav>
</header>
