<main>
  <section class="hero-container" aria-label="Banner principal">
    <div class="hero">
      <div class="grid-layout">
        <h1 class="title">Las mejores raquetas para jugar <strong>Tennis</strong></h1>
        <div class="aboutus-btn">
          <a href="#nosotros" aria-label="Ir a sección Acerca de nosotros">
            Acerca de nosotros {% render 'icon-left-arrow' %}
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
