<section class="hero">
  <div class="grid-layout">
    <h1 class="title">
      Las mejores raquetas para jugar <strong>Tennis</strong>
    </h1>
    <div class="aboutus-btn">
      <a href="#">Acerca de nosotros {% render 'icon-left-arrow' %}</a>
    </div>
  </div>
</section>
