{% assign about_us_link = linklists["main-menu"].links[1] %}

<main>
  <section class="hero-container" aria-label="Banner principal">
    <div class="hero">
      <div class="vertical-divider" aria-hidden="true"></div>
      <div class="grid-layout">
        <h1 class="title">Las mejores raquetas para jugar <strong>Tennis</strong></h1>
        <div class="aboutus-btn">
          <a href="{{ about_us_link.url }}" aria-label="Ir a sección Acerca de nosotros">
            {{  about_us_link.title }} {% render 'icon-left-arrow' %}
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
