@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=16008");
body, html {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Helvetica Neue", sans-serif;
}

:root {
  --theme-color-primary: #fff;
  --theme-color-secondary: #000;
  --theme-color-tertiary: #cbe346;
  --theme-color-variant-1: #f3f4f8;
  --theme-color-variant-2: #1e2335;
  --theme-color-variant-3: #787878;
  --theme-color-variant-4: #273048;
}

header#desktop-header {
  background: transparent;
  display: flex;
  flex-direction: row;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
header#desktop-header img {
  height: 37px;
  width: 37px;
  margin: 25px 32px 0 36px;
}
header#desktop-header .nav-menu {
  color: var(--theme-color-primary);
  flex-grow: 2;
  margin: 44px 0 0 67px;
}
header#desktop-header .nav-menu ul {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
  letter-spacing: 1.5px;
  line-height: normal;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 576px;
}
header#desktop-header .nav-menu ul li {
  display: inline-block;
}
header#desktop-header .nav-menu ul li a {
  color: var(--theme-color-primary);
  display: inline-block;
  font-weight: lighter;
  letter-spacing: 1.4px;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}
header#desktop-header .nav-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--theme-color-tertiary);
  transition: width 0.3s ease;
}
header#desktop-header .nav-menu ul li a:hover {
  color: var(--theme-color-tertiary);
}
header#desktop-header .nav-menu ul li a:hover::after {
  width: 17px;
}
header#desktop-header .nav-menu ul li a:hover.active-menu {
  color: var(--theme-color-primary);
}
header#desktop-header .nav-menu ul li a:hover.active-menu::after {
  background: var(--theme-color-primary);
}
header#desktop-header .nav-menu ul li a.active-menu::after {
  width: 17px;
  background: var(--theme-color-primary);
}
header#desktop-header .language-nav {
  margin: 45px 94px 0 0;
}
header#desktop-header .language-nav ul {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
  letter-spacing: 1.5px;
  line-height: normal;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 67px;
}
header#desktop-header .language-nav ul li {
  display: inline-block;
}
header#desktop-header .language-nav ul li a {
  color: var(--theme-color-primary);
  display: inline-block;
  font-weight: lighter;
  letter-spacing: 1.4px;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}
header#desktop-header .language-nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--theme-color-tertiary);
  transition: width 0.3s ease;
}
header#desktop-header .language-nav ul li a:hover {
  color: var(--theme-color-tertiary);
}
header#desktop-header .language-nav ul li a:hover::after {
  width: 17px;
}
header#desktop-header .language-nav ul li a:hover.active-menu {
  color: var(--theme-color-primary);
}
header#desktop-header .language-nav ul li a:hover.active-menu::after {
  background: var(--theme-color-primary);
}
header#desktop-header .language-nav ul li a.active-menu::after {
  width: 17px;
  background: var(--theme-color-primary);
}
@media (min-width: 769px) and (max-width: 1024px) {
  header#desktop-header img {
    margin: 25px 20px 0 20px;
  }
  header#desktop-header .nav-menu {
    margin-left: 25px;
  }
  header#desktop-header .nav-menu ul {
    width: 500px;
  }
  header#desktop-header .language-nav {
    margin-right: 60px;
  }
}
@media (max-width: 768px) {
  header#desktop-header#desktop-header {
    display: none;
  }
}

header#header-sm {
  position: fixed;
  width: 100%;
  z-index: 10;
}
header#header-sm .menu-toggle {
  background-color: var(--theme-color-primary);
  border-bottom: 4px solid var(--theme-color-tertiary);
  display: block;
  padding: 10px 36px;
  width: calc(100vh - 76px);
}
header#header-sm .menu-toggle svg.hamburget-menu {
  height: 37px;
  width: 37px;
  cursor: pointer;
  font-weight: bold;
  stroke: var(--theme-color-secondary);
}
header#header-sm .modal {
  background-color: var(--theme-color-primary);
  border-radius: 5px;
  display: none;
  margin: 10px;
  padding: 50px 0;
  max-width: 50vh;
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
header#header-sm .modal.menu-open {
  display: block;
  animation: modalShow 0.3s ease forwards;
}
header#header-sm .modal:not(.menu-open) {
  animation: modalHide 0.3s ease forwards;
}
header#header-sm .modal .nav-menu ul, header#header-sm .modal .language-nav ul {
  list-style: none;
  margin: 0;
}
header#header-sm .modal .nav-menu ul li, header#header-sm .modal .language-nav ul li {
  padding: 10px 0;
}
header#header-sm .modal .nav-menu ul li a, header#header-sm .modal .language-nav ul li a {
  color: var(--theme-color-secondary);
  display: inline-block;
  font-weight: bold;
  padding-bottom: 5px;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
}
header#header-sm .modal .nav-menu ul li a::after, header#header-sm .modal .language-nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--theme-color-tertiary);
  transition: width 0.3s ease;
}
header#header-sm .modal .nav-menu ul li a:hover:not(.active-menu), header#header-sm .modal .language-nav ul li a:hover:not(.active-menu) {
  color: var(--theme-color-tertiary);
  transform: translateX(10px);
}
header#header-sm .modal .nav-menu ul li a:hover:not(.active-menu)::after, header#header-sm .modal .language-nav ul li a:hover:not(.active-menu)::after {
  width: 100%;
}
header#header-sm .modal .nav-menu ul li a.active-menu, header#header-sm .modal .language-nav ul li a.active-menu {
  color: var(--theme-color-tertiary);
  transform: translateX(10px);
}
header#header-sm .modal .nav-menu ul li a.active-menu::after, header#header-sm .modal .language-nav ul li a.active-menu::after {
  width: 100%;
  background: var(--theme-color-tertiary);
}
@media (min-width: 769px) and (max-width: 1024px) {
  header#header-sm#header-sm {
    display: none;
  }
}
@media (min-width: 1025px) {
  header#header-sm#header-sm {
    display: none;
  }
}

@keyframes modalShow {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes modalHide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 0;
    display: none;
  }
}
.hero {
  background-image: url("./tennis-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 785px;
  background-attachment: fixed;
}
.hero::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
}
.hero .vertical-divider {
  background: var(--theme-color-primary);
  display: inline-block;
  height: 100vh;
  left: 103px;
  position: absolute;
  top: 0px;
  width: 2px;
  z-index: 9;
  min-height: 785px;
}
.hero .grid-layout {
  display: grid;
  grid-template-columns: 173px auto;
  grid-template-rows: 225px minmax(auto, max-content) auto;
  height: 100%;
  position: relative;
}
.hero .grid-layout .title {
  color: var(--theme-color-primary);
  font-size: 53px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  grid-column: 2;
  grid-row: 2;
  letter-spacing: -0.05px;
  line-height: 1.28;
  margin: 0;
  padding: 0;
  width: 709px;
}
.hero .grid-layout .title strong {
  color: var(--theme-color-tertiary);
  font-weight: 800;
}
.hero .grid-layout .aboutus-btn {
  grid-column: 2;
  grid-row: 3;
  margin: 0;
  padding: 0;
}
.hero .grid-layout .aboutus-btn a {
  border-radius: 26.5px;
  border: solid 1px var(--theme-color-primary);
  color: var(--theme-color-primary);
  display: inline-block;
  font-size: 16px;
  padding: 15px 50px 15px 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  top: 30px;
  transition: all 0.3s ease;
}
.hero .grid-layout .aboutus-btn a .svg-left-arrow {
  height: 23px;
  position: absolute;
  top: 12.5px;
  width: 23px;
  right: 22px;
  transition: color 0.3s ease;
}
.hero .grid-layout .aboutus-btn a:hover {
  border: solid 1px var(--theme-color-tertiary);
  color: var(--theme-color-tertiary);
}
.hero .grid-layout .aboutus-btn a:hover .svg-left-arrow {
  color: var(--theme-color-tertiary);
}
@media (min-width: 769px) and (max-width: 1024px) {
  .hero .vertical-divider {
    left: 81px;
  }
  .hero .grid-layout {
    grid-template-columns: 126px auto;
  }
  .hero .grid-layout .title {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .hero {
    height: calc(100vh + 65px);
    top: 65px;
    min-height: initial;
  }
  .hero .vertical-divider {
    display: none;
  }
  .hero .grid-layout {
    grid-template-columns: 36px auto 5px;
  }
  .hero .grid-layout .title {
    width: 100%;
  }
}

.products-section {
  background-color: var(--color-white);
}
.products-section .container {
  margin: 0;
  padding: 0;
}
.products-section .container .products-header {
  background-color: var(--theme-color-variant-1);
  display: flex;
  flex-direction: row;
  padding-bottom: 67px;
}
.products-section .container .products-header .column-empty {
  flex-basis: 256px;
}
.products-section .container .products-header .tag {
  color: var(--theme-color-tertiary);
  flex-basis: 174px;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.87px;
  margin-top: 104px;
  margin-right: 56px;
  text-align: right;
  text-transform: uppercase;
  height: 33px;
}
.products-section .container .products-header .content {
  flex: 1;
}
.products-section .container .products-header .content .title {
  color: var(--theme-color-variant-2);
  font-size: 50px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 151px;
  letter-spacing: -0.06px;
  line-height: 1.14;
  margin-top: 76px;
  margin: 76px 0 0 0;
  width: 555px;
}
.products-section .container .products-header .content .description {
  display: flex;
  padding-top: 15px;
}
.products-section .container .products-header .content .description p {
  color: var(--theme-color-variant-3);
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 87px;
  letter-spacing: 0.51px;
  line-height: 1.78;
  margin: 0;
  width: 393px;
}
.products-section .container .products-header .content .description div {
  flex: 1;
}
.products-section .container .products-header .content .description div .btn-outline {
  border-radius: 26.5px;
  border: solid 1px var(--theme-color-variant-3);
  color: var(--theme-color-variant-3);
  display: inline-block;
  font-size: 16px;
  padding: 15px 50px 15px 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  top: 30px;
  transition: all 0.3s ease;
  top: 16px;
  width: 125px;
  height: 23px;
  margin: 0 10px 0 162px;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.15;
  letter-spacing: 1.01px;
  color: var(--theme-color-variant-4);
}
.products-section .container .products-header .content .description div .btn-outline .svg-left-arrow {
  height: 23px;
  position: absolute;
  top: 12.5px;
  width: 23px;
  right: 22px;
  transition: color 0.3s ease;
}
.products-section .container .products-header .content .description div .btn-outline:hover {
  border: solid 1px var(--theme-color-tertiary);
  color: var(--theme-color-tertiary);
}
.products-section .container .products-header .content .description div .btn-outline:hover .svg-left-arrow {
  color: var(--theme-color-tertiary);
}
.products-section .container .products-header .content .description div .btn-outline .svg-left-arrow {
  top: 16px;
}
.products-section .container .products-showcase {
  display: flex;
  flex-direction: row;
}
.products-section .container .products-showcase .product-card {
  flex-basis: 530px;
  height: 468px;
  max-width: 530px;
  overflow: hidden;
  position: relative;
}
.products-section .container .products-showcase .product-card .product-image {
  height: 100%;
  position: relative;
  width: 100%;
  margin-left: 3px;
}
.products-section .container .products-showcase .product-card .product-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.products-section .container .products-showcase .product-card .product-content {
  color: var(--theme-color-primary);
  left: 200px;
  margin-right: 71px;
  position: absolute;
  top: 38px;
  z-index: 1;
}
.products-section .container .products-showcase .product-card .product-content h3 {
  font-size: 50px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 151px;
  letter-spacing: -0.06px;
  line-height: 1.28;
  margin: 0;
  width: 259px;
}
.products-section .container .products-showcase .product-card .product-content p {
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 107px;
  letter-spacing: 0.51px;
  line-height: 1.67;
  margin: 0;
  width: 303px;
}
.products-section .container .products-showcase .product-card .product-content .indicators {
  height: auto;
}
.products-section .container .products-showcase .product-card .product-content .indicators .indicator {
  background-color: var(--theme-color-primary);
  border-radius: 50%;
  border: 0px;
  height: 7.8px;
  padding: 0;
  width: 8px;
  margin-right: 19px;
  cursor: pointer;
}
.products-section .container .products-showcase .product-card .product-content .indicators .indicator.active, .products-section .container .products-showcase .product-card .product-content .indicators .indicator:hover {
  background-color: var(--theme-color-tertiary);
}
.products-section .container .products-showcase .product-card .product-content .controls {
  left: -22.5px;
  position: relative;
  top: 35px;
}
.products-section .container .products-showcase .product-card .product-content .controls .control {
  background: transparent;
  border-radius: 50%;
  border: 2px solid var(--theme-color-primary);
  cursor: pointer;
  height: 54px;
  margin-right: 19px;
  padding: 0;
  position: relative;
  transition: all 0.3s ease;
  width: 54px;
}
.products-section .container .products-showcase .product-card .product-content .controls .control.next {
  background-color: var(--theme-color-tertiary);
  border-color: var(--theme-color-tertiary);
}
.products-section .container .products-showcase .product-card .product-content .controls .control .prev-arrow,
.products-section .container .products-showcase .product-card .product-content .controls .control .next-arrow {
  border-style: solid;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
}
.products-section .container .products-showcase .product-card .product-content .controls .control .prev-arrow {
  border-color: transparent var(--theme-color-primary) transparent transparent;
  border-width: 8px 12px 8px 0;
  margin-left: -2px;
}
.products-section .container .products-showcase .product-card .product-content .controls .control .next-arrow {
  border-color: transparent transparent transparent var(--theme-color-primary);
  border-width: 8px 0 8px 12px;
  margin-left: 2px;
}
.products-section .container .products-showcase .product-card .product-content .controls .control.next .next-arrow {
  border-color: transparent transparent transparent var(--theme-color-primary);
}
.products-section .container .products-showcase .product-card .product-content .controls .control:hover {
  background-color: var(--theme-color-tertiary);
  border-color: var(--theme-color-tertiary);
}
.products-section .container .products-showcase .product-card .product-content .controls .control:hover .prev-arrow {
  border-color: transparent var(--theme-color-primary) transparent transparent;
}
.products-section .container .products-showcase .product-card .product-content .controls .control:hover .next-arrow {
  border-color: transparent transparent transparent var(--theme-color-primary);
}
