:root {
  --theme-color-primary: #fff;
  --theme-color-secondary: #000;
  --theme-color-tertiary: #cbe346;

  --theme-color-variant-1: #f3f4f8;
  --theme-color-variant-2: #1e2335;
  --theme-color-variant-3: #787878;
  --theme-color-variant-4: #273048;
  --theme-color-variant-5: #2b3049;
}